# dependency
node_modules/
.next/
dist/
build/

# env python nya
__pycache__/
*.py[cod]
.venv/
.pytest_cache/

# local env and cred
.env
.env.local
.env.*.local
!.env.example

# text editor dan os yg dipakai
.vscode/
.idea/
.DS_Store
Thumbs.db

